%title-40 {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 400;
  font-family: "Avenir Next LT PRO CN", sans-serif;

  @include media ("<phone") {
    font-size: 1.8rem;
  }
}

%title-64 {
  font-size: 6.4rem;
  line-height: 100%;
  font-weight: 400;
  font-family: "Avenir Next LT PRO CN", sans-serif;

  @include media ("<phone") {
    font-size: 2.4rem;
  }
}

%title-70 {
  font-size: 7rem;
  line-height: 100%;
  font-weight: 400;
  font-family: "Avenir Next LT PRO CN", sans-serif;

  @include media ("<phone") {
    font-size: 3.1rem;
  }
}

%title-100 {
  font-size: 10rem;
  line-height: 120%;
  font-weight: 500;
  font-family: "Avenir Next LT PRO CN", sans-serif;

  @include media ("<phone") {
    font-size: 4rem;
  }
}

%title-280 {
  font-size: 24rem;
  line-height: 110%;
  font-weight: 600;
  font-family: "Avenir Next LT PRO CN", sans-serif;

  @include media ("<phone") {
    font-size: 11rem;
  }
}
