@keyframes fadeIn {
  from {
    filter: blur(12px) brightness(0);
  }

  to {
    filter: blur(0px) brightness(1);
  }
}

.home {
  @extend %page;

  animation: fadeIn 0.8s ease-in forwards;
}


.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home__wrapper {
  --gap: 48rem;
  @extend %page__wrapper;
  @extend %center;
  flex-direction: column;


  @include media ("<phone") {
    --gap: 0rem;
  }
}

.home__section {
  position: relative;
  @extend %center;
  width: 100%;
  min-height: min-content;
  height: 100%;
  padding-block: 24rem;
  overflow: hidden;

  &.--col {
    flex-direction: column;
  }

  &#index {
    min-height: 100vh;
    padding-block: unset;
  }

  &#about {
    overflow: visible;
  }

  &#contact {
    min-height: 400px;
    height: 30vh;
    padding: unset;
  }

  @include media ("<phone") {

    &#index {
      min-height: 90vh;
    }

    &#about {
      overflow: hidden;
      padding-block: 32rem;
      // padding-block-end: 128rem;

    }

    &#projects {
      padding-block-start: 48rem;
      padding-block-end: 10rem;

    }

    &#contact {
      height: 100%;
    }
  }
}

.home__title {
  @extend %title-280;
  color: var(--text-02-clr);
  text-transform: uppercase;

  &[data-section="about"] {
    position: absolute;
    left: 0;
    max-width: 5ch;
  }

  &[data-section="projects"] {
    position: absolute;
    left: 0rem;
    max-width: 5ch;
  }

  &[data-section="contact"] {
    position: absolute;
    left: 0;
    bottom: -4rem;

    max-width: 4ch;
    word-wrap: break-word;
    line-height: 0.84;
  }

  @include media ("<phone") {
    &[data-section="about"] {
      top: 6rem;
    }

    &[data-section="projects"] {
      left: unset;
      right: 0rem;
      top: 16rem;
    }

    &[data-section="contact"] {
      bottom: -1.6rem;

    }
  }

}

.home__img {
  width: 200rem;
  height: 90rem;
  object-fit: cover;
  object-position: center;


  @include media ("<=phone") {
    height: 14rem;
    width: 38rem;
  }
}

@keyframes suggestScroll {
  10% {
    transform: translateY(20%);
  }

  20% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);

  }
}

.home__scroll-btn {
  position: absolute;
  bottom: 1.6rem;
  font-size: 3.6rem;
  border-radius: 5rem;
  padding: 2rem;


  animation: suggestScroll 4s ease-in-out infinite;

  transition: 0.3s ease;

  &:hover {
    filter: brightness(0.7);
  }

  @include media ("<phone") {
    font-size: 1.6rem;

  }
}

.home__about,
.home__projects {
  position: relative;
  width: 100%;
}

.home__block {
  @extend %center;
  position: relative;
  width: min-content;
  margin-inline-start: 70%;

  @include media ("<phone") {
    margin-block-start: 10%;
    margin-inline-start: 40%;
  }
}

.home__about__icon,
.home__projects__icon {
  position: absolute;
  left: -7.5vw;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 84rem;
  pointer-events: none;

  transition: 0.4s ease;


  &[data-section="projects"] {
    transform: translate(-20%, -47.5%);
  }


  &[data-selected="true"] {
    transform: translate(calc(-50% - 50vw), -50%);
  }

  @include media ("<=phone") {
    height: 40rem;
    left: 50vw;

    &[data-section="projects"] {
      left: unset;
      right: 0;
      transform: translate(35%, -125%);
    }

    &[data-selected="true"] {
      transform: translate(-102.5%, -120%);
    }
  }
}

.home__about__list {
  --gap: 36rem;
  @extend %center;
  flex-direction: column;

  position: relative;
  width: min-content;
  z-index: 2;
  transform: translate(0%, -15%);

  transition: 0.3s ease;

  &[data-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }

  @include media ("<phone") {
    --gap: 16rem;
  }
}

.home__about__item {
  @include media ("<phone") {
    &:nth-of-type(1) {
      transform: translate(3.2rem, -1.6rem)
    }

    &:nth-of-type(2) {
      transform: translate(-3.2rem, -1.8rem)
    }
  }
}

.home__about__btn {
  @extend %center;
  @extend %title-40;

  position: relative;

  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  background-color: var(--surface-01-clr);

  &:hover {
    .home__about__btn__tooltip {
      opacity: 1;
      filter: blur(0px);
    }
  }

  @include media ("<phone") {
    width: 4rem;
    height: 4rem;
  }
}

.home__about__btn__tooltip {
  position: absolute;
  top: calc(100% + 2rem);
  white-space: nowrap;

  transition: 0.3s ease;

  opacity: 0;
  filter: blur(12px);
}

.home__about__studio {
  --gap: 5.8rem;
  @extend %flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;
  filter: blur(8px);

  transition: 0.3s ease;

  &[data-open="true"] {
    opacity: 1;
    visibility: visible;
    filter: blur(0px);
  }

  @include media ("<phone") {
    --gap: 2.8rem;
    width: fit-content;

    left: 3.6rem;
    top: 35%;
    transform: unset;
  }
}

.home__about__close-btn {
  @extend %center;

  position: absolute;
  bottom: calc(100% + 4.2rem);
  right: calc(100% + 4.2rem);

  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--surface-01-clr);

  font-size: 2rem;

  &[data-section="about-team"] {
    bottom: unset;
  }

  @include media ("<phone") {
    right: 0rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.6rem;

    &[data-section="about-team"] {
      bottom: calc(100% + 8.2rem);
    }
  }
}

.home__about__controls {
  position: absolute;
  z-index: 1;
  top: -6rem;
  right: 0rem;

  --gap: 2rem;
  @extend %center;

  @include media ("<phone") {
    max-width: fit-content;
    flex-shrink: 1;
  }
}


.home__about__team {
  --gap: 5.8rem;
  @extend %flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 42%;

  opacity: 0;
  visibility: hidden;
  filter: blur(8px);

  transition: 0.4s;
  transition-timing-function: ease-out;
  transition-delay: 0s;

  pointer-events: none;

  &[data-open="true"] {
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
    opacity: 1;
    visibility: visible;
    filter: blur(0px);

    pointer-events: all;

  }

  @include media ("<phone") {
    position: relative;
    top: 40%;
    width: calc(100% - 3.6rem);
    left: 1.8rem;
    right: 1.8rem;
  }
}

.home__about__team__wrapper {
  position: relative;
  width: fit-content;

  @include media ("<phone") {
    width: 100%;
    height: 100%;
  }
}

.home__about__team__list {
  --gap: 3.2rem;
  @extend %flex;

  transition: opacity 0.4s ease, max-height 0s ease 0.4s;

  &[data-hidden=true] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    filter: blur(8px);
    max-height: 0;
  }

  @include media ("<phone") {
    flex-wrap: wrap;


  }
}

.home__about__team__item {
  @extend %flex;
  flex-direction: column;
  cursor: pointer;

  @include media ("<phone") {
    flex-basis: 45%;
  }
}


.home__about__team__focused-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  filter: blur(8px);

  transition: 0.4s ease;
  transition-delay: 0s;

  &[data-visible="true"] {
    transition-delay: 0.2s;
    position: relative;

    opacity: 1;
    visibility: visible;
    pointer-events: all;
    filter: blur(0px);

  }
}

.home__about__team__member {
  display: grid;
  grid-template-columns: 36.8rem 1fr;
  grid-gap: 10rem;
  grid-template-areas:
    'img title'
    'p p';

  @include media ("<phone") {
    grid-template-columns: 12rem 1fr;

    grid-gap: 2rem;

    grid-template-areas:
      'img title'
      '. p';
  }

}

.home__about__team__member__img {
  @include ratio(378, 511);
  min-width: 36.8rem;
  width: 36.8rem;
  height: 51.1rem;
  background-color: var(--surface-02-clr);
  object-fit: cover;
  grid-area: img;

  &.--thumbnail {
    min-width: 28rem;
    width: 28rem;
    height: unset;
  }

  @include media ("<phone") {
    min-width: 12rem;
    width: 12rem;
    height: 18rem;

    &.--thumbnail {
      min-width: 15rem;
      width: 15em;
      height: unset;
    }
  }
}

.home__about__team__member__title {
  @extend %title-70;
  align-self: center;
  grid-area: title;

  &.--thumbnail {
    @extend %title-40;
    align-self: unset;
  }
}

.home__about__team__member__body {
  grid-area: p;
  column-count: 2;
  column-gap: 4rem;

  @include media ("<phone") {
    column-count: 1;

  }
}

.home__about__team__member__paragraph {
  @extend %paragraph-30;
  max-width: 28ch;
  margin-block-end: 2rem;

  @include media ("<phone") {
    // font-size: 2.4rem;
  }
}


.home__about__title {
  @extend %title-100;
}

.home__about__paragraph {
  @extend %paragraph-30;
  max-width: 45ch;


  @include media ("<phone") {
    max-width: 35ch;
  }
}

.home__projects__slider-wrapper {
  position: relative;
  width: fit-content;
  margin-left: auto;

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 4rem);
    height: calc(100% + 10rem);
    background-color: black;
    transform-origin: center;
    transform: translate(-50%, -50%);
    filter: blur(2rem);
  }

  @include media ("<phone") {
    &::after {
      width: 120vw;
    }
  }
}

.home__projects__slider.swiper {
  width: 50vw;

  @include media ("<phone") {
    width: 100vw;
    height: calc(100vw / 1.7);
    padding-inline: 0rem;
  }
}

.home__projects__video {
  position: relative;
  width: 50vw;
  height: 35vw;
  object-fit: cover;
  border-radius: 1.4rem;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%
  }

  @include media ("<phone") {
    width: 100vw;
    height: calc(100vw / 1.7);
    border-radius: 0;
  }
}


.home__projects__prev-btn,
.home__projects__next-btn {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translate(0%, -50%);
  z-index: 1;

  @include media ("<phone") {
    left: 1.6rem;
  }
}

.home__projects__next-btn {
  left: unset;
  right: 4rem;

  @include media ("<phone") {
    right: 1.6rem;
  }
}

.home__address {
  @extend %paragraph-30;

  margin-inline-start: auto;
  margin-block-start: auto;
  margin-inline-end: 6rem;
  margin-block-end: 6rem;

  a {
    transition: 0.3s ease;

    &:hover {
      filter: brightness(0.7);
    }
  }

  @include media ("<phone") {
    margin-inline-end: 1.6rem;
    margin-block-end: 22rem;
  }
}
