@font-face {
  font-family: 'Avenir Next LT PRO Bold CN';
  src: url('/fonts/avenir-next-lt-pro-bold-cn.woff2') format('woff2'),
    url('/fonts/avenir-next-lt-pro-bold-cn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT PRO CN';
  src: url('/fonts/avenir-next-lt-pro-cn.woff2') format('woff2'),
    url('/fonts/avenir-next-lt-pro-cn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
