@font-face {
  font-family: 'Bebas Neue Pro Bold';
  src: url('/fonts/bebas-neue-pro-bold.woff2') format('woff2'),
    url('/fonts/bebas-neue-pro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue Pro Regular';
  src: url('/fonts/bebas-neue-pro-regular.woff2') format('woff2'),
    url('/fonts/bebas-neue-pro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue Pro Book';
  src: url('/fonts/bebas-neue-pro-book-regular.woff2') format('woff2'),
    url('/fonts/bebas-neue-pro-book-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
