html {

  scrollbar-width: none !important;

  body {
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 1.5rem !important;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--brand-clr);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--surface-03-clr);
    }
  }
}
